catkin_pkg==0.5.2
catkin_pkg_modules==0.5.2
cv_bridge==1.16.2
Flask==2.2.2
genpy==0.6.15
keras==2.11.0
keras_vggface==0.6
numpy==1.17.4
opencv_python==4.6.0.66
pyrealsense2==2.53.1.4623
qi==3.0.0
requests==2.22.0
ros_numpy==0.0.5
rospy==1.15.14
scikit_learn==1.2.0
scipy==1.10.0
sensor_msgs==1.13.1
SpeechRecognition==3.9.0
tensorflow==2.3.4
