<launch>
  <arg name="nao_ip" default="$(optenv NAO_IP 10.0.1.207)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
  <param name="nao_ip" type="string" value="$(arg nao_ip)"/>
  <param name="nao_port" type="string" value="$(arg nao_port)"/>

  <arg name="node_start_delay" default="10.0" />  
  <node pkg="pepper_nodes" type="wakeup_node.py" name="wakeup_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="pepper_nodes" type="head_motion_node.py" name="head_motion_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="pepper_nodes" type="text2speech_node.py" name="text2speech" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="pepper_nodes" type="text2speech_client.py" name="text2speech_client" output="screen" />
  <node pkg="pepper_nodes" type="image_input_node.py" name="image_input_node" output="screen" />
  <node pkg="pepper_nodes" type="tablet_example.py" name="table_node_example" required="true" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
  <node pkg="pepper_nodes" type="face_tracker.py" name="tracker_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="pepper_nodes" type="tablet_node.py" name="tablet_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  
</launch>